<footer class="footer">
    <div class="footer-container">
      <div class="footer-info">
        <h3>Informações de Contato</h3>
        <p>Email: <a href="mailto:contato@techinvest.com">contato&#64;techinvest.com</a></p>
        <p>Telefone: <a href="tel:+5511987654321">+55 11 98765-4321</a></p>
      </div>
      <div class="footer-social">
        <h3>Siga-nos</h3>
        <p><a href="https://facebook.com" target="_blank">Facebook</a></p>
        <p><a href="https://twitter.com" target="_blank">Twitter</a></p>
        <p><a href="https://linkedin.com" target="_blank">LinkedIn</a></p>
      </div>
      <div class="footer-mapa">
        <h3>Localização</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4813.395046414721!2d-48.6134746!3d-27.014137299999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94d8b7a9d1f7c91b%3A0xb5155a333f34d648!2sExpocentro%20Balne%C3%A1rio%20Cambori%C3%BA!5e1!3m2!1spt-BR!2sbr!4v1723824709229!5m2!1spt-BR!2sbr" 
        width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </footer>
 