    <header>
        <div class="logo">
            <img src="assets/logo.png" alt="logotipo" height="400px" width="400px">
        </div>
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="#sobre">Sobre o Evento</a></li>
                    <li><a href="#palestrantes">Palestrantes</a></li>
                    <li><a href="#agenda">Agenda</a></li>
                    <li><a href="#patrocinadores">Patrocinadores</a></li>
                </ul>
            </nav>
        </div>
        <div class="cta">
            <a href="#inscricao" class="btn-cta">Inscreva-se Já</a>
        </div>
    </header>