<div class="title-sobre">
<h1 id="sobre">Sobre o Techinvest</h1>   
</div>

<div class="text-sobre">
<p>O Techinvest é o evento imperdível para quem vive e respira tecnologia, seja você 
    um entusiasta, investidor visionário ou empreendedor à frente de seu tempo. Nossa 
    missão é criar um espaço dinâmico e envolvente, onde o networking de alto nível, 
    a troca de conhecimentos e o surgimento de novos negócios impulsionam a revolução digital.
</p>

<p>
    Durante o Techinvest, você terá acesso a palestras inspiradoras de líderes icônicos 
    da indústria, que irão compartilhar insights e experiências sobre as inovações mais 
    impactantes do mercado. Também oferecemos workshops práticos, projetados para aprofundar 
    suas habilidades em áreas-chave da tecnologia, proporcionando uma experiência hands-on 
    que vai transformar sua carreira ou impulsionar sua empresa.
</p>

<p>
    E claro, as sessões de networking são estrategicamente planejadas para conectar você 
    com profissionais que compartilham sua visão, abrindo portas para parcerias poderosas 
    e novas oportunidades de investimento. O Techinvest não é apenas um evento; é a sua 
    chance de ser protagonista na evolução tecnológica que está moldando o futuro.
</p>
</div>

<div class="title-participar">
    <h2>Por que participar?</h2>
</div>

<div class="text-participar">
    <ul>
        <li>
            <strong>Inovação na Prática:</strong> Mergulhe nas tecnologias que estão transformando o mundo, com demonstrações ao vivo e workshops que permitem você experimentar o futuro em primeira mão.
        </li>
        <li>
            <strong>Conheça os Líderes:</strong> Interaja com os gigantes da indústria tecnológica e investidores de ponta, que não apenas estão fazendo a diferença, mas também moldando os próximos grandes movimentos do setor.
        </li>
        <li>
            <strong>Networking Estratégico:</strong> Conecte-se com uma rede exclusiva de profissionais, empreendedores e investidores, criando parcerias que podem levar seu projeto ou negócio para o próximo nível.
        </li>
        <li>
            <strong>Insights Valiosos:</strong> Participe de palestras e painéis com insights que vão desde as últimas tendências de mercado até estratégias de crescimento inovadoras, oferecidas por especialistas de renome.
        </li>
        <li>
            <strong>Oportunidades de Crescimento:</strong> Explore novas oportunidades de investimento e colaborações que podem ser o catalisador para o crescimento acelerado de sua carreira ou empresa.
        </li>
    </ul>
</div>  

<div class="data-local-section">
    <img src="assets/expocentro.jpeg" alt="Imagem de fundo" class="background-image">
    <div class="content">
      <div class="title-local-data">
        <h2>Data e Local</h2>
      </div>
      <div class="text-local-data">
        <p><strong>Data:</strong> 15 de Outubro de 2024</p>
        <p><strong>Local:</strong> Expocentro Balneário Camboriú</p>
        <p>Av. Marginal Oeste, nº4250, Bairro Jardim Parque Bandeirantes, Balneário Camboriú - SC, 88336-203, Brasil</p>
      </div>
    </div>
  </div>